In [13]:
import pandas as pd
encoding = 'iso-8859-8'
# encoding =None
def file_election(election):
    name = 'results_' +str(election)
    if election< 21:
        df = pd.read_excel(name + '.xls')

    if election>=21 and election<25:
        df = pd.read_csv(name+'.csv',encoding='iso-8859-8')

    if election==25:
        df = pd.read_csv(name+'.csv')
    return df


df = file_election(24)
df.head()

,סמל ועדה,ברזל,שם ישוב,סמל ישוב,קלפי,ריכוז,שופט,בזב,מצביעים,פסולים,...,קי,קך,קץ,ר,רנ,רף,רק,שס,ת,Unnamed: 50
0,6,3238,אבירים,1220,1.0,1,0,221,151,1,...,0,0,0,5,0,0,0,1,8,NaN
1,5,1788,אדירים,113,1.0,1,0,234,180,0,...,0,0,0,2,0,0,0,61,6,NaN
2,8,4113,אושה,278,1.0,1,0,382,276,0,...,0,0,0,1,0,0,0,0,15,NaN
3,17,10449,אחווה,1157,1.0,1,0,183,145,0,...,0,0,0,0,0,0,0,2,8,NaN
4,17,10450,איבים,338,1.0,1,0,138,40,0,...,0,1,0,0,0,0,0,1,0,NaN